#max{
    display: flex;
    flex-direction: column;
    font-size: 100px;
    
}

/* @media screen and(max-width:1000px){
    #smoll{
        font-display: 20px;
    }
} */


header{
    background-color: rgba(63, 151, 151, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
}

.header{
    flex-direction: column;
}

.h1{
    font-size: 100px;
}

.logo{
    height: 40px
}

#tabu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10% 10%; */
}

.btn btn-primary1{
    /* justify-self: center; */

}

/* #run{
    display: flex;
    justify-content: center; */
    /* align-items: center;
} */

/* .run{
    width: 30px;
    animation: run 20s ;
}

@keyframes run{
    from{
        justify-content: right;
    }

    to{
        justify-content: left;
    }
}  */

#book{
    background-image: url('../img/book.jpg');
    background-size: cover;
    background-repeat: repeat;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

 
 .wrapper{
     display: flex;
     width: 100%;
     /* text-align: center; */
     /* margin: 0 auto; */
 }
 .con{
     display: flex;
 }

 .miniCon{
     margin: 20%;
     width: 100PX;
     height: 100px;
     background-color: black;
 }
 .right{
    height: 50px; 
    width: 50px;
    /* margin: 0 0 0 auto; */
    margin-left: auto;
    align-items: right;
    
 }

 .ss{
     text-align: center;
     width: 50%;
     justify-content: center;
 }

 /* .miniCon{
    margin: 20%;
    width: 100PX;
    height: 100px;
    background-color: black;
    justify-content: right;
 } */

 .fwari{
    background-image: url('../img/book.jpg');
     animation: fwari ease-in-out 2S infinite alternate;
 }

 @keyframes fwari{
     0%{
         transform: translate(0%,0%);
     }
     100%{
         transform: translate(0%,-30px);
     }
 }

 .left{
     justify-content: left;
     /* margin: 0% 0% 70%; */
     /* align-items: right; */
 }

 .right{
     justify-content: right;
     align-items: right;  
 }




.z{
    background-image: url('../img/book.jpg')
}

.cake{
    justify-content: center;
    
}


footer{
    background-color:  rgba(63, 151, 151, 0.267);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    /* position: absolute; */
    bottom: 0;
}
